yc_token     = "t1.9eu..."  # Получить: https://cloud.yandex.ru/docs/iam/concepts/authorization/oauth-token
yc_cloud_id  = "b1g..."      # В консоли YC: Обзор → ID облака
yc_folder_id = "b1g..."      # В консоли YC: Папка → ID папки
